<ul class="nav">
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="{{ path('app_account_addresses') }}">mes address</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account-modify-pwd') }}">Modifier mot de passe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Deconnecter</a>
    </li>
</ul>
