{% if field.value==1 %}
    <span class="badge text-bg-secondary"> en attente de paiment</span>
    {% elseif field.value==2   %}
        <span class="badge text-bg-secondary">Payee</span>
    {% elseif field.value==3  %}
        <span class="badge text-bg-secondary">expediee</span>
{% endif %}
