{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5 ">
         <h1>Inscription</h1>
           {{ form(registerForm) }}
        </br>
        <a href="{{ path('app_login') }}"> vous avez deja un compte ? connectez vous </a>
    </div>


{% endblock %}

