{% extends '/base.html.twig' %}

{% block body %}
    <div class="container mt-5">

        <h1>Espace privee !</h1>
        </br>

<div class="container ">
    {% include 'account/_menu.html.twig' %}
    <h4>modification de mot de passe </h4>

        {{ form(modifypwd) }}
</div>
        <a href="{{ path('app_logout') }}">se deconnecter</a>

    </div>

{% endblock %}
